# Challenge 2

In this challenge we will continue working with `Pokemon.csv`. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemons are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.

## Provlem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [19]:
# import libraries
import numpy as np
import pandas as pd
import sklearn as sk

In [2]:
# importing the dataset and inspect the first few rows of the data
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemons?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [15]:
# your code here 
pk = pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed','Total']]
pk.head()

# h1: Total is a sum of all the numerical columns

from functools import reduce 

pk['h1'] = pk['HP']+pk['Attack']+pk['Defense']+pk['Sp. Atk']+pk['Sp. Def']+pk['Speed']
pk

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total   h1
0     45      49       49       65       65     45    318  318
1     60      62       63       80       80     60    405  405
2     80      82       83      100      100     80    525  525
3     80     100      123      122      120     80    625  625
4     39      52       43       60       50     65    309  309
5     58      64       58       80       65     80    405  405
6     78      84       78      109       85    100    534  534
7     78     130      111      130       85    100    634  634
8     78     104       78      159      115    100    634  634
9     44      48       65       50       64     43    314  314
10    59      63       80       65       80     58    405  405
11    79      83      100       85      105     78    530  530
12    79     103      120      135      115     78    630  630
13    45      30       35       20       20     45    195  195
14    50      20       55       25       25     30    205  205
15    60      45       50       90       80     70    395  395
16    40      35       30       20       20     50    195  195
17    45      25       50       25       25     35    205  205
18    65      90       40       45       80     75    395  395
19    65     150       40       15       80    145    495  495
20    40      45       40       35       35     56    251  251
21    63      60       55       50       50     71    349  349
22    83      80       75       70       70    101    479  479
23    83      80       80      135       80    121    579  579
24    30      56       35       25       35     72    253  253
25    55      81       60       50       70     97    413  413
26    40      60       30       31       31     70    262  262
27    65      90       65       61       61    100    442  442
28    35      60       44       40       54     55    288  288
29    60      85       69       65       79     80    438  438
..   ...     ...      ...      ...      ...    ...    ...  ...
770   95      65       65      110      130     60    525  525
771   78      92       75       74       63    118    500  500
772   67      58       57       81       67    101    431  431
773   50      50      150       50      150     50    500  500
774   45      50       35       55       75     40    300  300
775   68      75       53       83      113     60    452  452
776   90     100       70      110      150     80    600  600
777   57      80       91       80       87     75    470  470
778   43      70       48       50       60     38    309  309
779   85     110       76       65       82     56    474  474
780   49      66       70       44       55     51    335  335
781   44      66       70       44       55     56    335  335
782   54      66       70       44       55     46    335  335
783   59      66       70       44       55     41    335  335
784   65      90      122       58       75     84    494  494
785   55      85      122       58       75     99    494  494
786   75      95      122       58       75     69    494  494
787   85     100      122       58       75     54    494  494
788   55      69       85       32       35     28    304  304
789   95     117      184       44       46     28    514  514
790   40      30       35       45       40     55    245  245
791   85      70       80       97       80    123    535  535
792  126     131       95      131       98     99    680  680
793  126     131       95      131       98     99    680  680
794  108     100      121       81       95     95    600  600
795   50     100      150      100      150     50    600  600
796   50     160      110      160      110    110    700  700
797   80     110       60      150      130     70    600  600
798   80     160       60      170      130     80    680  680
799   80     110      120      130       90     70    600  600

[800 rows x 8 columns]

## Provlem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](one-hot-encoding.png)

In [ ]:
def combo(x):
#     print(x)
   if pd.isnull(x['Type 2']):
       return x['Type 1']
   return ''.join([x['Type 1'], '-', x['Type 2']])

pokemon['Combo Type'] = pokemon.apply(lambda x: combo(x), axis=1)
pokemon.head(4)

In [27]:
# your code here
combo = pd.get_dummies(pokemon['Combo Type'])

In [29]:
combo.head()

,Bug,Bug-Electric,Bug-Fighting,Bug-Fire,Bug-Flying,Bug-Ghost,Bug-Grass,Bug-Ground,Bug-Poison,Bug-Rock,...,Water-Fighting,Water-Flying,Water-Ghost,Water-Grass,Water-Ground,Water-Ice,Water-Poison,Water-Psychic,Water-Rock,Water-Steel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Provlem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [36]:
# your code here
combo['Total'] = pokemon['Total']

In [41]:
corr_total = combo.corr()['Total']

In [49]:
df = pd.DataFrame(corr_total)

In [61]:
##testt

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [60]:
# your code here
df.sort_values('Total', ascending=False).head(10)

                     Total
Total             1.000000
Dragon-Flying     0.149777
Dragon-Ice        0.128737
Dragon-Psychic    0.127066
Psychic-Fighting  0.104173
Ghost-Dragon      0.102264
Ground-Fire       0.098824
Rock-Dark         0.089736
Fire-Flying       0.084398
Rock-Fairy        0.084386